@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400&family=Roboto:wght@300;500;700;900&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primarycolor: hsl(94, 55%, 56%);
  --hovercolor: hsl(93, 75%, 76%);
  --whitecolor: hsl(0, 0%, 100%);
  --palegreen: hsl(96, 75%, 89%);
  --blackcolor: black;
  --greyText: hsl(0, 0%, 75%);
  --bgcolor: hsl(113, 11%, 85%);
  --messageColor: rgb(255, 0, 0);
  --inputColor: hsl(330, 12%, 97%);
  --inputcolor: hsl(154, 14%, 90%);
  --uppercolor: #62b4ff;
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: .938rem;
  --smallFontSize: .813rem;
  --smallestFontSize: .75rem;



  --yellow: linear-gradient(180deg, #F8D49A -146.42%, #FAD79D -46.42%);
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --purple: linear-gradient(180deg, #BB67FF 0%, #C484F3 100%);
  --pink: #FF919D;
  --glass: rgba(255, 255, 255, 0.54);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  --activeItem: #f799a354;
}

.App {
  /* padding: 0.5rem 3.5rem; */
  color: var(--black);
  background: linear-gradient(106.37deg,
      #ffe1bc 29.63%,
      #ffcfd1 51.55%,
      #f3c6f1 90.85%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
}

.AppGlass {
  display: grid;
  height: 97%;
  width: 97%;
  background: var(--glass);
  border-radius: 2rem;
  gap: 16px;
  grid-template-columns: 11rem auto 20rem;
  overflow: hidden;
}

@media screen and (max-width: 1200px) {
  .AppGlass {
    grid-template-columns: 10% 50% auto;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 768px) {
  .AppGlass {
    grid-template-columns: 1fr;
  }
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
  gap: 1.5rem;
}

html {
  font-size: 90%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.icon {
  font-size: var(--h2FontSize);
  cursor: pointer;
}

img,
video {
  height: auto;
  width: 100%;
}

.message {
  display: none;
}

.showMessage {
  display: block;
  color: var(--messageColor);
  padding: 10px;
  border-radius: 3px;
  text-align: center;
}



.btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  padding: .8rem 1rem;
  color: var(--greyText);
}

.btn .icon {
  margin-left: .5rem;
}

.btn hover {
  color: var(--primarycolor);
  background: var(--palegreen);
}

.loginPage,
.registerPage {
  height: 100vh;
  width: 100%;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 7px 50px rgb(214, 223, 213);

  .container {
    height: 85vh;
    width: 60%;
    margin: auto;
    justify-content: space-between;
    border-radius: 10px;
    background: hsl(0, 0%, 91%);

    .imageDiv {
      position: relative;
      display: flex;
      flex-basis: 50%;
      width: 20px;
      height: 100%;
      padding: 0 1.5rem;
      text-align: center;
      justify-content: center;
      flex-direction: column;
      margin: auto;
      border-radius: 10px;
      overflow: hidden;

      img,
      .footerDiv {
        position: absolute;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;

      }

      .textDiv {
        position: relative;

        .title {
          color: var(--blackcolor);
          font-size: 35px;
          font-weight: 800;
          align-items: center;
        }

        p {
          color: var(--blackcolor);
          padding: 1rem;
          font-weight: 400;
        }
      }

      .footerDiv {
        bottom: 30px;
        padding: 0 1rem;
        height: 60px;
        background: rgba(255, 255, 255, 0.248);
        left: 10px;
        right: 10px;
        justify-content: space-between;
        backdrop-filter: blur(1px);
        border-radius: 10px;

        .text {
          color: var(--blackcolor);
        }

        .btn {
          background: var(--uppercolor);
          color: var(--blackcolor);
          padding: .8rem 1.5rem;
          border-radius: 10px;
          font-weight: 400;
          transition: .3s ease;

          &:hover {
            background: var(--blackcolor);
            color: var(--uppercolor);
          }
        }
      }

    }

    .formDiv {
      flex-basis: 50%;
      margin: auto;
      flex-direction: column;
      gap: 1.5rem;
      transform: translateY(-1rem);

      .headerDiv {
        text-align: center;
        padding: 1.5rem 0;

        img {
          width: 60px;
          height: 20%;
          mix-blend-mode: color-burn;
          border-radius: 50%;
        }

        h3 {
          font-size: 25px;
          color: var(--uppercolor);
          font-weight: 800;
        }
      }

      .form {
        gap: 1rem;

        .inputDiv {
          .icon {
            color: var(--greyText);
          }

          input {
            background: none;
            outline: none;
            border: none;
            width: 200px;
          }

          label {
            color: var(--blackcolor);
            font-weight: 400;
            font-size: 14px;
            padding: .5rem 0;
            display: block;
          }

          .input {
            gap: .5rem;
            padding: 1rem;
            background: var(--inputColor);
            border-radius: 10px;
          }
        }

        .btn {
          padding: .8rem 1.5rem;
          background: var(--uppercolor);
          border-radius: 10px;
          color: black;
          align-items: center;
          margin: auto;
          justify-content: center;
          font-size: 16px;
          gap: .5rem;
          transition: .3ease;

          .icon {
            font-size: 25px;
            transition: .3s ease;
          }

          &:hover {
            background: var(--blackcolor);
            color: var(--uppercolor);

            .icon {
              color: var(--uppercolor);
              transform: translateX(5px);

            }
          }
        }

        .forgotPassword {
          font-size: 13px;
          color: var(--blackcolor);
          opacity: .7;
          text-align: center;

          a {
            text-decoration: underline;
            cursor: pointer;
            opacity: 1;
            align-items: center;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .heading {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}

@media screen and (max-width: 918px) {
  .heading {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
}

@media screen and (max-width: 990px) {
  .heading {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}


@media screen and (max-width: 927px) {

  .loginPage,
  .registerPage {
    .container {
      height: 100%;
      width: 100%;
      flex-direction: column;
      padding: 1.5rem;

      .imageDiv {
        width: 100%;

        .textDiv {
          .title {
            font-size: 20px;
          }

          p {
            padding: 1rem;
          }
        }

        .footerDiv {
          .text {
            font-size: 12px;
          }

          .btn {
            padding: .4rem 1.5rem;
          }
        }
      }

      .formDiv {
        gap: 1rem;
        transform: translateY(-.5rem);

        .headerDiv {
          padding: 1rem 0;

          img {
            width: 40px;
          }

          h3 {
            font-size: 20px;
          }
        }

        .form {
          gap: .5rem;
        }
      }

    }
  }
}