.footer {
    padding: 4rem 6rem;
    background: #000;
    color: #fff;
}

.top {
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.top i {
    color: #fff;
    font-size: 2rem;
    margin-left: 1rem;
}

.top i:hover {
    color: #62b4ff;
}

.bottom {
    padding-top: 2rem;
    display: flex;
    text-align: start;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.bottom div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.3rem;
}

.bottom h4 {
    font-size: 1.3rem;
    padding: 1rem 0 .8rem 0;
}

.bottom a {
    text-decoration: none;
    color: #fafafa;
    padding-bottom: .4rem;
    font-size: 1.1rem;
}

.sb__footer-below {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.2rem;
}

.sb__footer-below-links {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.sb__footer-below-links p {
    font-size: 13px;
    line-height: 15px;
    margin-left: 2rem;
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.sb__footer-below-links a {
    text-decoration: none;
}

hr {
    color: black !important;
    width: 100%;
}

.sb__footer-copyright p {
    font-size: 13px;
    line-height: 15px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin-top: 2rem;
    padding-bottom: 0;
}

@media screen and (max-width: 850px) {
    .footer {
        padding: 4rem 2rem;
    }

    .footer i {
        margin: 1rem 1rem 0 0;
    }

    .bottom div {
        width: 50%;
        text-align: start;
    }

    .sb__footer-below {
        display: flex;
        flex-direction: column;
    }

    .sb__footer-below-links {
        display: flex;
        flex-direction: row;
        text-align: start;
    }

}